@import url(//db.onlinewebfonts.com/c/8174214b59c74c684285ae6b35662282?family=Neoneon);
@font-face {font-family: "Neoneon";
  src: url("//db.onlinewebfonts.com/t/8174214b59c74c684285ae6b35662282.eot");
	src: url("//db.onlinewebfonts.com/t/8174214b59c74c684285ae6b35662282.eot?#iefix") format("embedded-opentype"),
	     url("//db.onlinewebfonts.com/t/8174214b59c74c684285ae6b35662282.woff2") format("woff2"),
	     url("//db.onlinewebfonts.com/t/8174214b59c74c684285ae6b35662282.woff") format("woff"),
	     url("//db.onlinewebfonts.com/t/8174214b59c74c684285ae6b35662282.ttf") format("truetype"),
	     url("//db.onlinewebfonts.com/t/8174214b59c74c684285ae6b35662282.svg#Neoneon") format("svg");
  }
:root {
  font-size:10px;
  --neon-text-color:#63a4cb;
  }

html{
  scroll-behavior: smooth;
}
body{
  background: #121212;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 12.5rem;
  color: #fff;
  padding: 0rem;
  letter-spacing: 0.313rem;
  top: 32%;
  left: 50%;
  transform: translate(-50%, -32%);
  position: absolute;
  animation: text-flicker-in-glow 3s linear both;
}

.ufc{
	font-family: 'Neoneon';
}

.text-flicker-in-glow {
	        animation: text-flicker-in-glow 3s linear both;
}


@keyframes text-flicker-in-glow {
  0%, 10%, 10.1%, 10.2%, 20%,20.6%, 30%, 30.6%,45%, 55.1%, 57%, 60.1%, 65%, 75.1%, 77%, 85.1%, 86%{
    opacity: 0;
    text-shadow: none;
  }

  20.1%, 30.1%, 30.5%, 45.1%,50%,55%, 57.1%, 60%, 65.1% , 75%, 77.1%, 85%, 86.1%{
    opacity: 0.8;
    text-shadow:
  /*   -0.1rem -0.1rem 0.2rem #fff,
     0.1rem 0.1rem 0.2rem #fff,*/
    0 0 0.5rem var(--neon-text-color),
    0 0 2rem var(--neon-text-color),
    0 0 5rem var(--neon-text-color);
  }

  100%{
    opacity: 1;
    text-shadow:
    0 0 1rem var(--neon-text-color),
    0 0 3rem var(--neon-text-color),
    0 0 4.5rem var(--neon-text-color),
    0 0 7rem var(--neon-text-color);
  }
}

.progress {
  margin-top: 1.25rem;
  height: 0.35rem;
  width: 40%;
  background-color: #121212;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -65%);
}

.current-progress {
  height: 100%;
  width: 0%;
  border-radius: 0.313rem;
  overflow: hidden;
  background-color: #fff;
  text-align: center;
  transition: all 0.3s;
  animation: text-flicker-in-glow 3s linear both;
}

@media screen and (max-width:800px) {
  .progress{
    width: 62%;
  }
  h1{
    font-size: 9.8rem;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
  }
}


