@import url(//db.onlinewebfonts.com/c/8174214b59c74c684285ae6b35662282?family=Neoneon);
@import url(https://db.onlinewebfonts.com/c/0c3856a335fdfdb8b0652f7c3d367fdd?family=Moderat);
@import url(https:////db.onlinewebfonts.com/c/27ea2815dafcd0267000f4a832b050a5?family=Inconsolata+Medium);
@import url(https://db.onlinewebfonts.com/c/2605067aeef64be467fb41efea86fd13?family=Inconsolata+Black);
@import url(https://db.onlinewebfonts.com/c/91af74ef87e4bc5b348c81da940be910?family=Inconsolata+Light);
@import url(https://db.onlinewebfonts.com/c/e156a118727053f0f6072d0ee05a48eb?family=Inconsolata);

@font-face {
  font-family: "Neoneon";
  src: url("//db.onlinewebfonts.com/t/8174214b59c74c684285ae6b35662282.eot");
  src: url("//db.onlinewebfonts.com/t/8174214b59c74c684285ae6b35662282.eot?#iefix") format("embedded-opentype"),
       url("//db.onlinewebfonts.com/t/8174214b59c74c684285ae6b35662282.woff2") format("woff2"),
       url("//db.onlinewebfonts.com/t/8174214b59c74c684285ae6b35662282.woff") format("woff"),
       url("//db.onlinewebfonts.com/t/8174214b59c74c684285ae6b35662282.ttf") format("truetype"),
       url("//db.onlinewebfonts.com/t/8174214b59c74c684285ae6b35662282.svg#Neoneon") format("svg");
  }
@font-face {
  font-family: "Moderat";
  src: url("//db.onlinewebfonts.com/t/0c3856a335fdfdb8b0652f7c3d367fdd.eot");
  src: url("//db.onlinewebfonts.com/t/0c3856a335fdfdb8b0652f7c3d367fdd.eot?#iefix") format("embedded-opentype"),
       url("//db.onlinewebfonts.com/t/0c3856a335fdfdb8b0652f7c3d367fdd.woff2") format("woff2"),
       url("//db.onlinewebfonts.com/t/0c3856a335fdfdb8b0652f7c3d367fdd.woff") format("woff"),
       url("//db.onlinewebfonts.com/t/0c3856a335fdfdb8b0652f7c3d367fdd.ttf") format("truetype"),
       url("//db.onlinewebfonts.com/t/0c3856a335fdfdb8b0652f7c3d367fdd.svg#Moderat") format("svg");
  }

@font-face {
  font-family: "Inconsolata Black";
  src: url("//db.onlinewebfonts.com/t/2605067aeef64be467fb41efea86fd13.eot");
  src: url("//db.onlinewebfonts.com/t/2605067aeef64be467fb41efea86fd13.eot?#iefix") format("embedded-opentype"),
       url("//db.onlinewebfonts.com/t/2605067aeef64be467fb41efea86fd13.woff2") format("woff2"),
       url("//db.onlinewebfonts.com/t/2605067aeef64be467fb41efea86fd13.woff") format("woff"),
       url("//db.onlinewebfonts.com/t/2605067aeef64be467fb41efea86fd13.ttf") format("truetype"),
       url("//db.onlinewebfonts.com/t/2605067aeef64be467fb41efea86fd13.svg#Inconsolata Black") format("svg");
  }

@font-face {
  font-family: "Inconsolata Light";
  src: url("//db.onlinewebfonts.com/t/91af74ef87e4bc5b348c81da940be910.eot");
  src: url("//db.onlinewebfonts.com/t/91af74ef87e4bc5b348c81da940be910.eot?#iefix") format("embedded-opentype"),
       url("//db.onlinewebfonts.com/t/91af74ef87e4bc5b348c81da940be910.woff2") format("woff2"),
       url("//db.onlinewebfonts.com/t/91af74ef87e4bc5b348c81da940be910.woff") format("woff"),
       url("//db.onlinewebfonts.com/t/91af74ef87e4bc5b348c81da940be910.ttf") format("truetype"),
       url("//db.onlinewebfonts.com/t/91af74ef87e4bc5b348c81da940be910.svg#Inconsolata Light") format("svg");
  }

@font-face {font-family: "Inconsolata";
  src: url("//db.onlinewebfonts.com/t/e156a118727053f0f6072d0ee05a48eb.eot");
  src: url("//db.onlinewebfonts.com/t/e156a118727053f0f6072d0ee05a48eb.eot?#iefix") format("embedded-opentype"),
       url("//db.onlinewebfonts.com/t/e156a118727053f0f6072d0ee05a48eb.woff2") format("woff2"),
       url("//db.onlinewebfonts.com/t/e156a118727053f0f6072d0ee05a48eb.woff") format("woff"),
       url("//db.onlinewebfonts.com/t/e156a118727053f0f6072d0ee05a48eb.ttf") format("truetype"),
       url("//db.onlinewebfonts.com/t/e156a118727053f0f6072d0ee05a48eb.svg#Inconsolata") format("svg");
  }

:root {
  font-size: 10px;
  --neon-text-color: #63a4cb;
}

html {
  scroll-behavior: smooth;
}
body {
  background: #121212;
  justify-content: center;
  align-items: center;
}

.loader-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content {
  display: block;
  justify-content: center;
  align-items: center;
  width:100%;
  height:100%;
}

.coming--soon{
  font-size: 6.5rem;
  color: #fff;
  padding: 0rem;
  letter-spacing: 0.313rem;
  top: 32%;
  left: 50%;
  transform: translate(-50%, -32%);
  position: absolute;
  font-weight: normal;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: #fff;
}

a {
  color:#fff;
  -moz-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

a:hover {
  color: #fff;
  font-weight: bold;
  text-shadow:0px 0px 30px #63a4cb;
  -moz-transition: all 0.6s ease-in;
  -o-transition: all 0.6s ease-in;
  -webkit-transition: all 0.6s ease-in;
  transition: all 0.6s ease-in;
}

.pg{
  font-size: 10px;
  font-family: Inconsolata+Light;
  letter-spacing: 4px;
  color: #fff;
  padding: 0rem;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -47%);
  position: absolute;
}


h1 {
  font-size: 12.5rem;
  color: #fff;
  padding: 0rem;
  letter-spacing: 0.313rem;
  top: 32%;
  left: 50%;
  transform: translate(-50%, -32%);
  position: absolute;
}

.ufc {
  font-family: "Neoneon";
}

.text-flicker-in-glow {
  animation: text-flicker-in-glow 3s linear both;
}

@keyframes text-flicker-in-glow {
  0%, 10%, 10.1%, 10.2%, 20%,20.6%, 30%, 30.6%,45%, 55.1%, 57%, 60.1%, 65%, 75.1%, 77%, 85.1%, 86%{
    opacity: 0;
    text-shadow: none;
  }

  20.1%, 30.1%, 30.5%, 45.1%,50%,55%, 57.1%, 60%, 65.1% , 75%, 77.1%, 85%, 86.1%{
    opacity: 0.8;
    text-shadow:
  /*   -0.1rem -0.1rem 0.2rem #fff,
     0.1rem 0.1rem 0.2rem #fff,*/
    0 0 0.5rem var(--neon-text-color),
    0 0 2rem var(--neon-text-color),
    0 0 5rem var(--neon-text-color);
  }

  100%{
    opacity: 1;
    text-shadow:
    0 0 1rem var(--neon-text-color),
    0 0 3rem var(--neon-text-color),
    0 0 4.5rem var(--neon-text-color),
    0 0 7rem var(--neon-text-color);
  }
}

.progress {
  margin-top: 1.25rem;
  height: 0.35rem;
  width: 40%;
  background-color: #121212;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -65%);
}

.current-progress {
  height: 100%;
  width: 0%;
  border-radius: 0.313rem;
  overflow: hidden;
  background-color: #fff;
  text-align: center;
  transition: all 0.3s;
  animation: text-flicker-in-glow 3s linear both;
}

.hide {
  display: none;
}

@media screen and (max-width: 800px) {
  .progress {
    width: 62%;
  }
  h1 {
    font-size: 9.8rem;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
  }
.coming--soon{
  font-size: 3.3rem;
  justify-content: center;
  align-items: center;
  text-align: center;
 }

.pg{
  font-size: 0.610rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 1.13rem;
  top: 39%;
  left: 50%;
  transform: translate(-50%, -39%);
}

}
